@charset "UTF-8";

@media (min-width: 440px) {

    main {
        display:grid;
        width: auto;
        max-width: 750px;
        grid-template-columns: 1fr 1fr;
    }

    .content-apresentation {
        grid-column: 1 / 3;
    }

    .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr;

        grid-row: 2 / 3;
        grid-column: 1 / 4;
    }

    .supervisor-card {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .calculator-card {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    .container {
        margin: 5px;
    }
}

@media (min-width: 769px) {

    body {
        background-image: url(images/bg.jpg);
        background-size: cover;
    }

    main {
        display: grid;
        width: auto;
        max-width: 1440px;
        height: 750px;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;

        background-color: white;

        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.221);

        border-radius: 20px;

        margin-top: 40px;
        margin-bottom: 40px;
    }

    h1 {
        margin-top: 20px;

        font-size: 2.2em;
    }

    .content-apresentation-title {
        font-size: 2.1em;
    }

    .content-text {
        font-size: 1.2em;
    }

    .container {
        max-width: 350px;
    }

    .content-apresentation {
        grid-column: 1 / 4;
        height: 200px;
    }

    .cards-container {
        display: flex;
        flex-direction: column;
        grid-column: 2 / 3;
        justify-content: center;
    }

    .supervisor-card {
        grid-row: 2 / 3;
        height: 230px;
        align-self: center;
    }

    .calculator-card {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        height: 230px;
        align-self: center;
    }
}
